@charset "UTF-8";

body {
	display:flex;
    flex-direction:column;
	width: 100%;
	min-height: 100vh;
	flex-grow: 1;
	background-color: var(--background-color);
}


.wrapper {
	padding: 90px 20px 30px 20px;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	box-sizing: border-box;
}

.titolo {
	display: block;
	text-align: center;
	align-items: center;
	font-size: 24px;
}

.gradiente {
	background-image: linear-gradient(35deg, var(--tertiary-color), var(--secondary-color), var(--primary-color));
	-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold; 
    display: inline-block;
}

.grassetto {
	font-weight: bold;
}

.contenitore {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 30px;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	gap: 20px;
	padding: 30px;
	margin: 0 auto;
	align-items: center;
	width: 100%;
	min-height: 400px;
	box-sizing: border-box;
}

.campo_testo {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 15px;
	align-items: center;
	background-color: var(--secondary-color);
	border: 2px solid var(--border-color);
	border-radius: 8px;
	box-sizing: border-box;
	justify-content: space-between;
	transition: all 0.3s ease-in-out;
	gap: 30px;
	flex-wrap: wrap;
}

.campo_testo:hover {
	transform: scale(1.03);
}

.testo {
	display: flex;
	flex-direction: row;
	gap: 15px;
	flex-grow: 1;
	box-sizing: border-box;
	min-width: 280px;
}

.testo p {
	margin: 0;
	padding: 10px;
	width: 100%;
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
	line-height: 1.6;
	border-radius: 4px;
	gap: 15px;
	box-sizing: border-box;
}

.griglia-ordine {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
	border-radius: 4px;
	box-sizing: border-box;
	overflow: hidden;
}

.cella {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: flex-start;
	align-items: center;
	border-right: 1px solid var(--border-color);
}

.cella:last-child {
	border: none;
}

.titolo h1 {
	font-weight: bold;
	font-size: 24px;
}

a.dettaglio_ordine, button[type="submit"] {
	width: 150px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	margin-left: 5px;
	margin-right: 10px;
	text-decoration: none;
	padding: 10px;
	border: 2px solid var(--background-color);
	background-color: var(--primary-color);
	color: var(--background-color);
	flex-shrink: 0;
}

a.dettaglio_ordine:hover, button[type="submit"]:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
	border-color: var(--primary-color);
}

button[type="submit"] {
	margin-top: 15px;
}

.Filtri {
	width: 100%;
}

.Filtri form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.Filtri fieldset {
	border: 1px solid var(--primary-color);
	border-radius: 6px;
	padding: 10px 15px;
}	

input {
	padding: 5px;
	width: 250px;
	border: 2px solid var(--border-color);
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	margin-bottom: 15px;
	outline: none;
	font-size: 16px;
}

.input-filtro {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.input-filtro label {
	min-width: 150px;
}

.blocco-errore-successo {
	display: block !important;
	width: 100%;
	background-color: var(--background-color);
	max-width: 1200px;
	margin: 10px auto -30px auto;
	padding: 10px 30px;;
	box-sizing: border-box;
}

p.testoSuccesso, p.testoErrore {
	display: block !important;
	padding: 24px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
}

p.testoSuccesso {
	background-color: #E8F5E9;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);	
}

p.testoErrore {
	background-color: #f8d7da;
	color: var(--tertiary-color);
	border: 2px solid var(--tertiary-color);
}

@media (max-width: 700px) {
	.wrapper {
		padding: 130px 20px 30px 20px;
		align-items: center;
		justify-content: center;
	}
	
	.cella {
		padding: 20px;
		justify-content: flex-start;
		align-items: center;
		border-bottom: 1px solid var(--border-color);
	}
	
	.cella:last-child {
		border-bottom: none;
	}
	
	.Filtri {
		width: 100%;
		margin: 0 auto;
	}
	
	.Filtri fieldset {
		border: 1px solid var(--primary-color);
		border-radius: 6px;
		padding: 15px 20px;
	}	
	
	input {
		width: 150px;
		font-size: 14px;
	}
	
	.input-filtro {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.input-filtro label {
		min-width: 130px;
		font-size: 14px;
	}
	
}