@charset "UTF-8";

:root {
	--background-color: #FFF8F9;
	--primary-color: #3F778D;
	--secondary-color: #D34F73;
	--terziary-color: #B6025C;
    --border-color: black;
	
    --primary-text-color: #13112B;
    --secondary-text-color: #FFF8F9;
    
    --font-family: "Verdana", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	
	font-family: var(--font-family);
	
	background-color: var(--background-color);
    
    margin: 0;
    padding: 0;  
}

.main-content-wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 40px;  
	padding: 40px;
}

header {
	position: relative;
	height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
    width: 100%;
    margin: 65px 20px 0 0;
    
    background-color: #13112B;
}

.slideshow {
	display: flex;
	flex-wrap: nowrap; 
	height: 100%;
	width: 100%;
	transition: transform 0.5s ease-in-out;
}

.slide {
	flex: 0 0 100%;    
	width: 100%;
	height: 100%;
	display: block;    
}

.slide img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	display: block;
}

.loading_bar_container {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10px;
	z-index: 999;

	background-color: rgba(0, 0, 0, 0.2); 
}

.loading_bar {
	width: 0;
	height: 100%;
	background-color: var(--primary-color);
	transition: width 8s linear;
}

.arrow_button_header {
	display: flex;
	align-items: center;
	justify-content: center;
	
	position: absolute;
	top: 50%;                
 	transform: translateY(-50%);
  
	width: 50px;
	height: 50px;
	padding: 0;
	border: none;
	border-radius: 50%;
	z-index: 999;
	font-size: 24px;
	cursor: pointer;
	
	color: var(--primary-color);
	background-color: var(--background-color);
}

.arrow_button_header:hover {
	color: var(--background-color);
	background-color: var(--primary-color);
}

nav {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	z-index: 9999;
	top: 0;
	
	width: 100%;
	height: 65px;
	
	background-color: var(--primary-color);
	color: var(--secondary-text-color);
}

.logo_navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 60px;
	overflow: hidden;
	margin: 0 auto;
	cursor: pointer;
	flex: 0 0 auto;

	background-color: transparent;
	text-decoration: none;
	
	transition: all 0.4s ease-in-out;
}

.logo_navbar img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0;
	padding: 0;
}


.titolo-blocco {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 95%;
	border: 2px solid;
	padding: 10px;
	margin: 0 auto;
	
	color: var(--primary-text-color);
	background-color: var(--secondary-color);
	border-color: var(--border-color);
}

.blocco-immagine-testo {
	display: flex;
	text-align: center;
	position: relative;
	
	width: 95%;
	border: 2px solid;
	padding: 20px 70px;
	gap: 30px;
	margin: 0 auto;
	
	background-color: var(--terziary-color);
	border-color: var(--border-color);
}

.immagine-laterale {
	display: flex;
	width: calc(40% - 15px);
	max-width: 800px;
	aspect-ratio: 16/9;
	
	background-color: var(--background-color);
	border: 2px solid;
	border-color: var(--border-color);
	
	overflow: hidden;
}

.immagine-laterale img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.testo-laterale {
	display: flex;
	flex-direction: column;   
	justify-content: space-between;  
	align-items: center;
	gap: 15px;
	
	width: calc(60% - 15px);
	min-height: 150px;
}

.testo-slideshow {
	display: block;
	width: calc(60% - 15px);
	text-align: center;
	min-height: 50px;
	
	border: 2px solid;
	border-color: var(--border-color);
}

.bottone-homepage {
	display: block;
	width: 100%;
	padding: 12px;
	text-align: center;
	
	border-color: var(--border-color);
	background-color: var(--secondary-color);
	color: var(--background-color);
	cursor: pointer;
	
	transition: background-color var(--transition-speed, 0.3s);
}

.bottone-homepage:hover {
	background-color: var(--background-color);
	color: var(--secondary-color);
}

.toggle_menu {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
  	height: 65px;
  	width: 40px;
}

.toggle_menu button {
	width: 40px;
  	height: 40px;
  	padding: 0;
  	cursor: pointer;
  	display: inline-flex;    
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	z-index: 2;
  	
	color: var(--secondary-text-color);
	background-color: var(--primary-color);
	border: none;	
}

.toggle_menu button:hover {
	color: var(--primary-color);
	background-color: var(--background-color);

	border-radius: 50%;
}

.sezioni_navbar {
	display: flex;
	justify-content: flex-end;
	gap: 15px;
	align-items: center;
}

.sezioni_navbar button {
	width: 40px;
  	height: 40px;
  	padding: 0;
	cursor: pointer;
  	
	color: var(--secondary-text-color);
	background-color: var(--primary-color);
	border: none;
	
	border-radius: 50%;
	
}

.sezioni_navbar button:hover {
	color: var(--primary-color);
	background-color: var(--background-color);
	
	border-radius: 50%;
}

.search_wrapper {
	position: relative;
    display: inline-flex;
    align-items: center;
    height: 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.search_wrapper.active {
    background-color: var(--background-color);
    border-color: var(--border-color);
    padding: 0; 
}

.input_search {
	opacity: 0;
	width: 0;
	height: 100%;
	border: none;
	padding: 0;
	outline: none;
	font-family: var(--font-family);
	font-size: 14px;
	margin: 0;
	
	background: transparent;
	color: var(--primary-text-color);
	transition: width 0.4s ease-in-out, opacity 0.3s ease-in-out;
}

.search_wrapper.active .input_search {
	width: 400px;
	opacity: 1;
	padding: 0 15px;
}

.input.search .cerca {
    width: 45px;
    height: 45px;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--secondary-text-color);
    z-index: 2;
}


.arrow_button {
	position: absolute;
	top: 50%;                
 	transform: translateY(-50%);
  
	width: 50px;
	height: 50px;
	padding: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	
	color: var(--background-color);
	background-color: var(--terziary-color);
}

.arrow_button.prev, .arrow_button_header.prev {
	left: 15px;
}

.arrow_button.next, .arrow_button_header.next {
	right: 15px;
}

.arrow_button:hover {
	color: var(--secondary-color);
	background-color: var(--background-color);
}
