@charset "UTF-8";

*, *::before, *::after {
    box-sizing: border-box;
}

footer {
	padding: 40px 0 20px 0;
	margin-top: auto;
	bottom: 0;
	position: relative;
	flex-shrink: 0;
	width: 100%;

	background-color: var(--primary-color);
	color: var(--secondary-text-color);
}

.footer_wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
	padding: 30px;
	max-width: 1400px;
	margin: 0 auto;
}

.grid-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 40px;
	align-items: start;
	width: 100%;
}

.copyright {
	display: flex;
	align-items: center;
	justify-items: center;
	gap: 15px;
	margin: 40px 0 0 0;
	justify-content: center;
}

.logo_copy {
	font-size: 12px;
	display: block;
	display: flex;
}

.testo_copy {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.lista_links {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin: 20px 20px 10px 0;
	
	list-style-type: none; 
	padding: 0;           
	margin: 0;  
}

.icona_zampa {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 8px;
}

.links_footer a, .chiSiamo a {
	color: var(--background-color);
	text-decoration: none;
	font-size: 16px;
	padding: 5px;
	
	border-color: var(--primary-color);
	border-radius: 20px;
}

.links_footer a:hover, .chiSiamo a:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.links_footer a:after, .chiSiamo a:after {
	background-color: var(--primary-color);
	color: var(--background-color);
}

.logo_footer {
	display: block;
	height: 115px;
	width: 115px;
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	border: 2px solid;
	border-radius: 50%;
	margin: 0 auto;
	background-color: var(--background-color);
}

.logo_footer img {
	display: block;
	width: 100%;
    height: 100%;
    object-fit: cover;
}

.chiSiamo {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1200px) {
	.footer-wrapper {
		padding: 30px 25px;
	}
	
	.grid-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
		gap: 60px;
	}
}

@media (max-width: 800px) {
	.footer-wrapper {
		padding: 20px 15px;
	}
	
	.grid-wrapper {
		text-align: center;
		gap: 30px;
		justify-content: center;
	}
	
	.lista_links {
        align-items: center; 
        margin: 10px 0;
    }
    
    .logo_footer {
    	height: 85px;
		width: 85px;
    }
    
    .links_footer a, .chiSiamo a {
		color: var(--background-color);
		text-decoration: none;
		font-size: 14px;
		padding: 5px;
	}
	
	.icona_zampa {
		font-size: 14px;
	}
}
