@charset "UTF-8";

body {
	display:flex;
    flex-direction:column;
	width: 100%;
	min-height: 100vh;
	flex-grow: 1;
	background-color: #cccccc;
}


.wrapper {
	padding: 90px 30px 30px 30px;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.saluto {
	display: block;
	text-align: center;
	align-items: center;
	font-size: 24px;
}

.gradiente {
	background-image: linear-gradient(35deg, var(--tertiary-color), var(--secondary-color), var(--primary-color));
	-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: bold; 
    display: inline-block;
}

.contenitore {
	display: grid;	
	grid-template-columns: 1fr 1fr 1fr;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	gap: 20px;
	padding: 30px;
	margin: 0;
	align-items: start;
}

.dati {
	grid-column: 1;
	border: 2px solid var(--primary-color);
	border-radius: 4px;
	padding: 20px;
	margin: 0;
	background-color: var(--background-color);
}

.campo_titolo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}


.bottone_modifica, .bottone_salva_modifica {
	width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    display: inline-flex;    
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    color: var(--secondary-color);
    background-color: transparent;
    border: 1px solid var(--secondary-color);  
    transition: all 0.3s ease-in-out;
}

.bottone_modifica:hover, .bottone_salva_modifica:hover {
    color: var(--background-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--background-color);  
}

.logout .bottone_logout {
	display: block;
    width: 250px;
    padding: 12px;
    text-align: center;
    text-decoration: none; 
    border-width: 2px;
    border-style: outset;
    border-color: #d1d1d1;
    border-color: var(--border-color);
    background-color: var(--secondary-color);
    color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout .bottone_logout:hover {
	background-color: var(--background-color);
    color: var(--secondary-color);
}

.campo_testo {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.campo_testo form {
	display: contents;
}

.testo, .testo input, .input-errore-container .input {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-sizing: border-box; 
}

.testo label, .input-errore-container .input label {
	min-width: 110px;
	font-weight: bold;
}

.testo p {
	padding: 5px;
	width: 250px;
	border: 2px solid var(--border-color);
	border-radius: 4px;
	gap: 15px;
}

.testo input, .input-errore-container input {
	padding: 5px;
	width: 250px;
	border: 2px solid var(--border-color);
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	margin-bottom: 15px;
	outline: none;
	font-size: 16px;
}

.indirizzi {
	grid-column: 2;
	border: 2px solid var(--primary-color);
	border-radius: 4px;
	padding: 20px;
	margin: 0;
	gap: 15px;
}

.ordini {
	grid-column: 3;
	border: 2px solid var(--primary-color);
	border-radius: 4px;
	padding: 20px;
	margin: 0;
}

.campo_titolo .titolo {
	font-size: 18px;
}

.grassetto {
	font-weight: bold;
}

button.bottone_aggiungi[type="submit"]:disabled, .bottone_salva_modifica:disabled {
	background-color: #CCCCCC;
	color: #666666;
	border: 2px solid #666666;
	cursor: not-allowed;
}

button.bottone_aggiungi {
	display: inline-flex;
	font-size: 16px;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 10px 15px;
	border-radius: 4px;
	width: 100%;
	background-color: var(--secondary-color);
	color: var(--background-color);
	border: 2px solid var(--border-color);
	cursor: pointer;
	margin-top: 20px;
	transition: all 0.3s ease-in-out;
}

button.bottone_aggiungi:hover {
	background-color: var(--background-color);
	color: var(--secondary-color);
	border-color: var(--border-color);
}

.indirizzo_rimozione {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
}

.bottone_rimuovi {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid var(--tertiary-color);
	background-color: transparent;
	color: var(--tertiary-color);
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all 0.2s ease-in-out;
	margin-left: 10px;
}

.bottone_rimuovi:hover {
	background-color: var(--tertiary-color);
	color: var(--background-color);
}

.input-errore-container:has(input[style*="display: none"]) {
	display: none !important;
}

.input-errore-container {
	display: flex;
    flex-direction: column;
    width: 250px;
}

.errore {
	display: none;
	font-weight: bold;
	font-size: 12px;
	width: 100%;
	padding: 5px 10px;
	margin-top: 5px;
	border-radius: 4px;
	border: 2px solid var(--tertiary-color);
	background-color: #f7d2d2;
	color: var(--tertiary-color);
	word-wrap: break-word;
}

.input-errore-container.non_valido input {
	border-color: var(--secondary-color) !important;
	background-color: #FFF0F2;	
}

.input-errore-container.valido  input {
	border-color: var(--primary-color) !important;
	background-color: #E8F5E9;
}

a.dettaglio_ordine {
	width: 150px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
	margin-left: 5px;
	margin-right: 10px;
	text-decoration: none;
	padding: 10px;
	border: 2px solid var(--background-color);
	background-color: var(--secondary-color);
	color: var(--background-color);
}

a.dettaglio_ordine:hover {
	background-color: var(--background-color);
	color: var(--tertiary-color);
	border-color: var(--tertiary-color);
}

.blocco-errore-successo {
	display: block !important;
	width: 100%;
	background-color: var(--background-color);
	max-width: 1200px;
	margin: 10px auto -30px auto;
	padding: 10px 30px;;
	box-sizing: border-box;
}

p.testoSuccesso, p.testoErrore {
	display: block !important;
	padding: 24px;
	margin-bottom: 20px;
	border-radius: 4px;
	font-weight: bold;
	text-align: center;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
}

p.testoSuccesso {
	background-color: #E8F5E9;
	color: var(--primary-color);
	border: 2px solid var(--primary-color);	
}

p.testoErrore {
	background-color: #f8d7da;
	color: var(--tertiary-color);
	border: 2px solid var(--tertiary-color);
}